body{
    font-family: 'Poppins', sans-serif;
}


.nav-link,.navbar-brand{
    color :white ;
    font-weight: 700;
}

.navbar-brand{
    font-size: 40px;
}
#navbarNav{
    justify-content: end;
}
.mybackground{
    background-color: #4741AF;

}
.banner-heading{
    font-size: 72px;
    font-weight: 700;
    line-height: 1.23;
    color: white;

}
.subheading{
    font-size: 24px;
    font-weight: 400;
    color: white;

}
.banner-btn{
    text-decoration: none;
    color: white;
    padding: 15px 55px;
    background-color: #6c63ff;
    border-radius: 35px;
    font-weight: 700;
}
.sub-title{
    color:  #6c63ff;
    font-size: 24px;
    font-weight: 700;
}
.text-title{
    font-size: 48px;
    font-weight: 700;

}
.p1{
    font-size: 18px;
    font-weight: 400;
}
.img-left{
    margin-left: -500px;
}

.text-link{
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 20px;
}

.img-rounded-background{
    background-color:#F3F9FB;
    border-radius: 50% ;

}

.img-rounded-background img{
    margin-top: -120px;
}

.service-title{
    font-weight: 700;
    font-size: 21px;

}
.service-icon{
    background: #6c63ff;
    padding: 20px;
    border-radius: 50%;
    color: white;
}